@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
    --color-font: #5B5B5B;
    --color-font-form-control: #555;
    --color-bg: #f8fafa;
    --color-border: #d3d3d3;
    --color-bg-well: #fff;
    --color-form-control-focus: #ababab;
    --color-btn: #7bb928;

    --box-shadow-form-control: inset 0 1px 1px rgb(0 0 0 / 8%);
    --box-shadow-form-control-focus: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(171 171 171 / 60%);

    --transition-form-control:  border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    --border-radius-form-control: 2px;
    --border-radius-btn: 4px;

    --font-weight-regular: 400;
    --font-weight-light: 300;
}

html{
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: var( --color-bg );
    color: var( --color-font );
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    height: 100vh;
    line-height: 1.4;
    margin: 0;
}

p{
    color: var( --color-font );
    font-weight: var( --font-weight-light );
    margin: 0 0 10.5px;
}

.form-group{
    padding: 5px 0;
}

.form-control{
    -o-transition: var( --transition-form-control );
    -webkit-box-shadow: var( --box-shadow-form-control );
    -webkit-transition: var( --transition-form-control );
    background-color: #fff;
    border-radius: var( --border-radius-form-control );
    border: 1px solid var( --color-border );
    box-shadow: var( --box-shadow-form-control );
    box-sizing: border-box;
    color:  var( --color-font-form-control );
    height: 35px;
    padding: 6px 14px;
    transition: var( --transition-form-control );
    width: 100%;
}

.form-control:focus {
    -webkit-box-shadow: var( --box-shadow-form-control-focus );
    border-color: var( --color-form-control-focus );
    box-shadow: var( --box-shadow-form-control-focus );
    outline: 0;
}

.form-control::placeholder{
    font-style: italic;
}

.btn{
    background-color: transparent;
    border-color: var( --color-btn );
    border-radius: var( --border-radius-btn );
    border: 1px solid;
    color: var( --color-btn );
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: var( --font-weight-regular );
    line-height: 1.5;
    margin-bottom: 0;
    margin: 8px 0 10px 0;
    padding: 6px 14px;
    text-align: center;
}

.danger{
    color: #E7112A;
}

.help-icon{
    opacity: .5;
    width: 15px;
}

#firstStage{
    font-weight: bold;
}

.dashboard__container{
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    height: 100%;
    justify-content: center;
}

.dashboard__container__stage-selector{
    align-items: center;
    display: flex;
    grid-gap: 10px;
    justify-content: center;
}

.dashboard__container__result{
    height: 20px;
}

.dashboard__container__stage-selector div{
    cursor: pointer;
}

.dashboard__container__form-container{
    background-color: var( --color-bg-well );
    border-radius: 3px;
    border: 1px solid var( --color-border );
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    padding: 20px 15px;
    width: 300px;
}

.dashboard__container__form-container fieldset{
    border: 0;
    margin: 0;
    min-width: 0;
    padding: 0;
}
